HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Some additional test files ###
src/main/java/com/example/veggietracker/LoadDatabase.java
src/main/java/com/example/veggietracker/TestRunner.java

### application properties ###
src/main/resources/application.properties
src/main/resources/application-prod.yaml

### django app ###
django_veggietracker/
